# --- Java/Maven/Gradle ---
target/
build/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin
*.class
*.jar
*.war

# --- IntelliJ IDEA ---
# 忽略所有 IDEA 生成的配置文件
.idea/*
# 排除掉存放 Run Configuration 的文件夹（允许 Git 追踪这些共享配置）
!.idea/runConfigurations/
# 排除掉项目构建相关的 xml (如果以后需要共享项目结构)
!.idea/modules.xml
!.idea/libraries/

# 再次明确忽略掉 workspace.xml（这是个人本地状态，绝对不能提交！）
.idea/workspace.xml

# --- Eclipse ---
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# --- NetBeans ---
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# --- VS Code ---
.vscode/

# --- Mac OS ---
.DS_Store


# 依赖文件夹
node_modules/
# 前端构建产物 (一般不需要传)
dist/
dist-ssr/

# 环境配置文件 (如果以后用到 .env，切记不要传包含真实密钥的 .env 文件)
.env*.local
*.log
*.tmp